@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jacquard+24&family=Jersey+25&family=Pixelify+Sans:wght@400..700&display=swap');



body{
    font-family:"pixelify sans", sans-serif;
    background-color: plum;
    margin:0;
    padding:0;

}
.fullscreen {
    background-color: purple;
    text-align: center;
    padding: 30px;
    width: 100vw;   /* ekranın tüm genişliğini kapla */
    height: 100vh;  /* ekranın tüm yüksekliğini kapla */
    margin: 0;      /* kenar boşluklarını sıfırla */
}

 html,body{

    margin: 0
    paddinhg: 0;
    height: 100%;
    width: 100%;
   overflow-x: hidden;

 }

 p,ul,ol{
   font-size: 20px;
   line-height: 24px;

   }
   ul,ol{
      padding: 0;
      list-style-position: inside;

   }
   a, a:visited {
      color: green;
   }
   a:hover{
   color:blueviolet
}
   
   a:active{
      color:aquamarine;
   }
   
 p.caption{
   font-size: 16px;
   color:wheat
   font-style: italic;
   margin: 0;
 }

 header{
   text-align: center;
background-color:purple;
background-size: cover;
padding: 30px;
width: 100%;
margin:0 ;

 }


 header .pfp{
    width: 300px;
    height: 300px;
    border: 10px solid white;
    border-radius: 50%;
    background-image: url("./../img/persephone.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin: 0 auto;
 }

 header .pfp.hekate{
     background-image: url("./../img/hekate.webp");
        background-position:top center;
      background-size: cover;
      border-color: black;
 }

  header .pfp.selene{
     background-image: url("./../img/selene.jpg");
        background-position:center;
      background-size: cover;
      border-color: pink;
 }


 h1{
   font-family: "indie flower", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(32px, 8vw,70px);
  margin: 0px 0 20px 0;
  color: white
 }

h2{
   text-align: center;;
   font-family: "indie flower", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0px 0 20px 0;
  margin-top: 20px;

  }


@media (max-width: 600px){
  
   }
   h2{
      font: size 40px;

   }

} 
img {
   width: 100%;
  height: 100%;
}

main{
   max-width: 800px;
   margin: 0 auto;
   padding;0 20px;
}

main img{
   max-width: 100%;
}

/*footer styles*/
footer{
   text-align:center;
   background-color: peru;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding: 30px;
   margin: 0
   width: 100%;
   

}

footer.content{
   max-width: 800px;
   margin: 0 auto;
   padding;0 20px;
}

footer a,
footer a:visited{
   color:green
}

footer a: :hover{
   color: purple;
}

@media (max-width:600px){
   footer p{
      font-size:16px
   }
}








